*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#FFF8F5;

font-family:Poppins,sans-serif;

display:flex;

justify-content:center;

align-items:center;

padding:60px 20px;

overflow-x:hidden;

}

.background{

position:fixed;

inset:0;

background:
radial-gradient(circle at top left,#ffd5df,transparent 35%),
radial-gradient(circle at bottom right,#ffe4ae,transparent 35%);

filter:blur(100px);

z-index:-1;

}

.paper{

max-width:750px;

width:100%;

background:white;

padding:60px;

border-radius:25px;

box-shadow:0 20px 60px rgba(0,0,0,.08);

}

h1{

text-align:center;

font-size:55px;

}

h1{

font-family:'Dancing Script';

font-size:58px;

text-align:center;

color:#B43A4A;

margin-bottom:5px;

}

.subtitle{

text-align:center;

font-size:17px;

color:#888;

margin-bottom:30px;

}

.line{

height:2px;

background:#eee;

margin:35px 0;

}

.letter{

font-size:18px;

line-height:1.75;

color:#444;

text-align:left;

font-family:'Poppins',sans-serif;

}

.letter p{

margin-bottom:15px;

}
#continueBtn{

margin-top:40px;

padding:15px 35px;

border:none;

border-radius:40px;

background:#FF6B8A;

color:white;

font-size:18px;

cursor:pointer;

display:block;

margin-left:auto;

margin-right:auto;

}